<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="applicationSection"
      type="AnyApp.ApplicationDetailsConfigurationSection, AnyApp"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  <applicationSection>
    <applications>
      <add
        name="chrome"
        path="HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\App Paths\Chrome.exe"
        pathType="1"/>
      <add
        name="ie"
        path="HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\App Paths\IEXPLORE.exe"
        pathType="1"/>
    </applications>
  </applicationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>